<%
    param_prefix = "payment_source[#{payment_method.id}]"
%>
<fieldset>
  <p>This will register the payment method. Payment must be manually captured before shipping order.</p>
  <%#= hidden_field_tag "#{param_prefix}[purchase_currency]", "826" %>

</fieldset>
