<% if @hsbc_transaction.successful? %>
	<h2>Payment Succeeded</h2>
	
	<%= render :partial => "/shared/order_details" %>
	
<% elsif  @hsbc_transaction.cpi_results_code == 9 %>
  <h2>Payment Pending Review</h2>

  <p><%= @hsbc_transaction.results_message %></p>

  <%= render :partial => "/shared/order_details" %>

<% else %>
  <h2>Payment Failed</h2>

  <p><%= @hsbc_transaction.results_message %></p>

<% end %>
