// features_engine
#product_banner {
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 331px;
    object-fit: cover;
  }
  img.small {
    height: 288px;
  }
  .carousel-caption {
    left: 1%;
    bottom: -7%;
    width: 35%;
  }
  .product_info {
    // background-color: $gray-dark;
    background-image: asset-url($product_info);
    bottom: 10px;
    color: #fff;
    padding: 10px;
    text-align: left;
    p {
      margin-bottom: 5px;
    }
    h2 {
      margin-bottom: 0px;
    }
    a.price {
      color: #f47402;
    }
    a.more {
      text-transform: uppercase;
      font-size: 0.9em;
    }
  }
  // @media (min-width: 767px) {
    .carousel-indicators {
      top: 10px;
      bottom: unset;
      right: 10px;
      left: unset;
      width: auto;
      padding: 4px 8px 4px 8px;
      background-color: #585652;
      li {
        border: unset;
        background-color: #737373;
        &.active {
          background-color: #f47402;
        }
      }
    }
  // }
  .carousel-fade {
    .carousel-inner {
      .item {
        transition-property: opacity;
      }

      .item,
      .active.left,
      .active.right {
        opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
        opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }

    .carousel-control {
      z-index: 2;
    }
  }
}
