// features_engine
#product_banner {
  margin-bottom: 20px;
  .carousel-caption {
    left: 1%;
    bottom: -7%;
    width: 35%;
  }
  .product_info {
    background-image: url($product_info);
    bottom: 10px;
    color: #fff;
    padding: 10px;
    text-align: left;
    p {
      margin-bottom: 5px;
    }
    h2 {
      margin-bottom: 0px;
    }
    a.more {
      text-transform: uppercase;
      font-size: 0.9em;
    }
  }
  // @media (min-width: 767px) {
    .carousel-indicators {
      background-color: #585652;
      right: 50%;
      margin: 0;
      padding-top: 3px;
      top: 10px;
      bottom: unset;
      right: 10px;
      width: 60px;
      left: unset;
      li {
        border: unset;
        background-color: #737373;
      }
      li.active {
        background-color: #f47402;
      }
    }
  // }
  .carousel-fade {
    .carousel-inner {
      .item {
        transition-property: opacity;
      }

      .item,
      .active.left,
      .active.right {
        opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
        opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }

    .carousel-control {
      z-index: 2;
    }
  }

}
