<div class="column w220">
	<%#= render :partial => "page_menu" %>
</div>

<div class="column w700">

	<h1><%= title_without_site_name %></h1>

	<%#= DynamicDatum.render_by_tag "about_soulpad" %>

</div>
