<% if !@product.taxons.blank? %>
  <%
      related_products = @product.taxons.first.products.active.related_to(@product)
    %>
  <% unless related_products.empty? %>
    <div id="taxon_crumbs">
      <h3>Related Products</h3>
     <% related_products.each do |product| %>
      <%= render partial: 'spree/products/product', locals: { taxon: @product.taxons.first,  product: product } %>
    <% end %>

    </div>
  <% end %>
<% end %>
