// $gray-base: #f47402;

$body-bg: #f5f0e9;
$body-bg-img: 'site/body_background.png';
$ic-contact-phone: 'site/icon_phone.png';
$ic-contact-email: 'site/icon_email.png';
$ic-contact-brochure: 'site/icon_brochure.png';
$cart_arrow_header: 'site/cart_arrow_header.png';
$cart_icon_header: 'site/cart_icon_header.png';

$sites_arrow: 'site/sites_arrow.png';

$soulpad_description_since_2007: 'site/soulpad_description_since_2007';

//** Global textual link color.
$link-color:            #f47402;
//** Link hover color set via `darken()` function.
// $link-hover-color:      darken($link-color, 15%) !default; //#ca6103
//** Link hover decoration.
$link-hover-decoration: underline !default;


$navbar-default-color:            #585652;
$navbar-default-bg:               #d2d1bb;
$navbar-height:                   35px;


//** social_network section (facebook, twitter, instagram)
$social_background: 'site/social_background.jpg';
$ic_facebook: 'site/facebook_icon.png';
$ic_twitter: 'site/twitter_icon.png';
$ic_facebook: 'site/insta_icon.png';
$ic_search: 'site/search.png';

//** testimonials
$speech_bubble: 'site/speech_bubble.png';
$quote: 'site/quote.png';

$ic_youtube: 'site/you_tube_icon.png';
$quote_mark: 'site/quote-mark.png';

$product_info: 'site/product_info.png';

// shop left sidebar
$cat_menu_collapsed: 'site/cat_menu_green_down.png';
$cat_menu_uncollapsed: 'site/cat_menu_green_up.png';

// lang selector
$uk: 'site/uk.png';
$us: 'site/us.png';
$au: 'site/au.png';
