// $gray-base: #f47402;
$assets_path: '/assets/site/';
$body-bg: #f5f0e9;
$body-bg-img: '#{$assets_path}body_background.png';
$ic-contact-phone: '#{$assets_path}icon_phone.png';
$ic-contact-email: '#{$assets_path}icon_email.png';
$ic-contact-brochure: '#{$assets_path}icon_brochure.png';
$cart_arrow_header: '#{$assets_path}cart_arrow_header.png';
$cart_icon_header: '#{$assets_path}cart_icon_header.png';

//** Global textual link color.
$link-color:            #f47402;
//** Link hover color set via `darken()` function.
// $link-hover-color:      darken($link-color, 15%) !default; //#ca6103
//** Link hover decoration.
$link-hover-decoration: underline !default;


$navbar-default-color:            #585652;
$navbar-default-bg:               #d2d1bb;
$navbar-height:                   35px;


//** social_network section (facebook, twitter, instagram)
$social_background: '#{$assets_path}social_background.jpg';
$ic_facebook: '#{$assets_path}facebook_icon.png';
$ic_twitter: '#{$assets_path}twitter_icon.png';
$ic_facebook: '#{$assets_path}insta_icon.png';
$ic_search: '#{$assets_path}search.png';

//** testimonials
$speech_bubble: '#{$assets_path}speech_bubble.png';
$quote: '#{$assets_path}quote.png';
