.contactus {
  .btn-success {
    background-color: #f47402;
    border: 0;
    text-transform: uppercase;
    &:hover {
      background-color: #ca6103;
    }
  }
  .vcard {
    p {
      margin-bottom: 0px;
    }
    ul.contact {
      padding-left: 0;
      padding-bottom: 15px;
    }
  }
  label {
    font-weight: normal;
  }
  p.required {
    text-align: right;
  }
  p.required span, span.required {
    color: #f47402;
  }
}
