#header {
  .nav {
    li {
      display: inline;
      text-transform: uppercase;
    }
    li#basket_summary {
      background: #585652 url(/dev-assets/site/cart_arrow_header.png) no-repeat 215px 13px;
      color: #fff;
      span {
        background: url(/dev-assets/site/cart_icon_header.png) no-repeat 10px 50%;
        display: block;
        padding-left: 40px;
      }
    }
    a {
      color: #f47402;
      text-decoration: none;
    }
    a.parent {
      background-color: #dbdac4;
      color: #585652;
    }
    a.active, a.hover {
      background-color: #f47402;
      color: #fff;
    }
  }

  #navbar-toggle {
    background-color: #f47402;
  }


}
