#header {
  .container-fluid {

  }
  .bar {
    background-color: #eeeee3;
    padding: 5px 20px;
  }
  .nav {
    li {
      display: inline;
      text-transform: uppercase;
    }
    li#basket_summary {
      background: #585652 url($cart_arrow_header) no-repeat 215px 13px;
      color: #fff;
      span.basket_icon {
        background: url($cart_icon_header) no-repeat 10px 50%;
        /* display: block; */
        padding-left: 40px;
        padding-right: 40px;
      }
      span.basket_arrow {float: right;}
      b {
        color: #f47402;
        font-weight: normal;
      }
    }
    a {
      background-color: #585652;
      color: #fff;
      text-decoration: none;
      margin-right: 1px;
    }
    a.parent {
      background-color: #dbdac4;
      color: #585652;
    }
    a.parent:hover, a.active, a.hover, a.focus {
      background-color: #f47402;
      color: #fff;
    }
  }

  #navbar-toggle {
    background-color: #f47402;
  }

  .navbar-toggle {
    border-color: #585652;
    background: #f47402;
    width: 100%;
    margin: 0;

    .icon-bar {
      border: 1px solid #585652;
    }
  }

  input[type="submit"] {
      background-color: #585652;
      color: #fff;
      text-transform: uppercase;
  }

  ul.contact {
    list-style: none;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .contact {
    font-weight: bold;
    font-size: 1.25em;
  }
  .tel, .brochure, .email {
    padding: 1px 0 1px 30px;
    background-repeat: no-repeat;
  }
  .tel {
    background-image: url($ic-contact-phone);
  }
  .brochure {
    background-image: url($ic-contact-brochure);
  }
  .email {
    background-image: url($ic-contact-email);
  }

  .delivery img {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
