
#soulpad {
  #container {
    background-color: #fff;
    border-top: 10px solid #585652;
    margin: 30px;
    box-shadow: 0 0 5px #909090;
    -webkit-box-shadow: 0 0 5px #909090;
    -moz-box-shadow: 0 0 5px #909090;
  }

  // top nav bar section
  .bar {
    background-color: #eeeee3;
    // padding: 5px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    li {
      margin-right: 2px;
      margin-left: 2px;
      text-transform: uppercase;
    }
    li a {
      background-color: #585652;
      color: #fff;
    }
    input[type="submit"] {
        background-color: #585652;
        color: #fff;
        text-transform: uppercase;
        border: 0px;
    }
    input[type="search"] {
      background: #fff url($ic_search) no-repeat 5px center;
    }
  }

  // main nav menu section
  #navbar-toggle {
    background-color: #f47402;
  }

  .navbar-toggle {
    border-color: #585652;
    background: #f47402;
    width: 100%;
    margin: 0;

    .icon-bar {
      border: 1px solid #585652;
    }
  }
  // main nav menu toggle
  .navbar-collapse {
    margin-right: 0;
    margin-left: -15px;
  }

  .navbar-collapse.in {
    overflow-y: auto;
    margin-left: 0;
  }

  // header > contacts
  ul.contact {
    list-style: none;
    margin-top: 25px;
  }
  .contact li {
    margin-top: 5px;
    font-weight: bold;
    font-size: 1.25em;
  }
  .tel, .brochure, .email {
    padding: 1px 0 1px 30px;
    background-repeat: no-repeat;
  }
  .tel {
    background-image: url($ic-contact-phone);
  }
  .brochure {
    background-image: url($ic-contact-brochure);
  }
  .email {
    background-image: url($ic-contact-email);
  }

  .delivery img {
    margin-top: 25px;
    margin-bottom: 25px;
  }

}
