#soulpad {
  .alert-notice {
    background-color: #585652;
    color: #fff;
    padding: 8px 10px;
    border: unset;
  }

  .cart-item-price, .cart-item-total {
    color: #585652;
  }

  .alert-danger, .alert-danger {
    background-color: #c22;
    color: #fff;
    padding: 6px 10px;
  }
  
}
#content {
h1 {
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 1.9em;
  font-weight: bold;
}

h2, h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.8em;
}

// about page
.testimonials {
  blockquote {
    border: 0;
    padding: 20px 0 0 20px;
    background: asset-url($quote_mark) no-repeat top left;
    font-style: italic;
    font-size: 1.1em;
    // margin-right: 30px;
    p {
      margin-bottom: 0px;
    }
    cite {
      color: #f47402;
      text-transform: uppercase;
      font-style: normal;
      font-size: 0.8em
    }
  }

  @import "paginator";

}
#about {

}
#video {
  img.img-responsive {
    min-width: 100%;
  }
  #video-title {
    background-color: #f47402;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
  }
  #video-footer {
    padding: 5px 10px;
    color: #fff;
    background: #f47402 asset-url($ic_youtube) no-repeat 10px 100%;
    span {
      float: right;
    }
  }
  #video-title:hover, #video-footer:hover {
    background-color: #ca6103;
  }

}
// home page
#testimonials {
  background: asset-url($speech_bubble) no-repeat 30px 99%;
  color: #fff;
  blockquote {
    border: 0;
    padding: 20px;
    background: #585652 asset-url($quote) no-repeat 95% 90%;
    font-style: italic;
    font-size: 1em;
    min-height: 217px;
    p {
      margin-bottom: 5px;
    }
    cite {
      color: #f47402;
      text-transform: uppercase;
      font-style: normal;
    }
  }
  a.more {
    text-transform: uppercase;
    margin-top: -19px;
    font-size: 0.9em;
    position: absolute;
    right: 15px;
  }
}

  .products_title {
    border-top: 1px solid #ebe3d9;
    border-bottom: 1px solid #ebe3d9;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    h3 {
      float: left;
    }
    a.more {
      float: right;
      text-transform: uppercase;
      margin-top: 5px;
      font-size: 0.9em;
    }
  }

  .products {
    img {
      // display: block;
      min-width: 100%;
      height: 168px;
      object-fit: cover;
    }
    p {
      padding: 5px;
      font-weight: bold;
      color: #fff;
      background-color: #f47402;
      &:hover {
        background-color: #ca6103;
      }
    }

  }
}
