#product_nav, .shop_nav {
  margin-bottom: 18px;
  ul {
    margin: 0;
    list-style: none;
  }
  li {
    background-color: #d2d1bb;
    color: #585652;
    text-transform: capitalize;
    &.title {
      background-color: #585652;
      color: #fff;
      font-size: 1.154em;
      font-weight: bold;
      padding: 7px 10px;
    }
  }
  .pages-list li a, li a {
    color: #585652;
    background-color: #d2d1bb;
    &:hover {
      background-color: #bbbaa1;
    }
  }
  
  // spree static content styles
  .pages-list {
    @extend .nav;
  }

  .pages-list li {
    border-bottom: 2px solid #fff;
  }

  h4.pages-root {
    @extend li.title;
    margin-bottom: 2px;
    padding: 10px;
  }
  // end spree static content styles

  li.current a {
    background-color: #bbbaa1;
  }
  li a.sub-menu {
    background-repeat: no-repeat;
    background-position: 97% 11px;
    background-color: #bbbaa1;
    background-image: asset-url($cat_menu_uncollapsed);
    &.collapsed {
      background-color: #d2d1bb;
      background-image: asset-url($cat_menu_collapsed);
    }
  }
  li.current a.sub-menu {
    background-color: #bbbaa1;
  }
  li#sale a {
    color: #fff;
    background-color: #d33;
    &:hover {
      background-color: #c33;
    }
  }
  .shop_nav_sub {
    list-style: none;
    background-color: #edecda;
    padding: 0;
    li {
      &.current_sub a {
        font-weight: bold;
      }
      border-top: 2px solid #fff;
      padding: 8px 15px;
      background-color: #edecda;
      a {
        color: #f47402;
        background-color: unset;
        &.active, &:hover, &:focus {
          color: #ca6103;
        }
      }
    }
  }

}
