#page_nav, .page_nav {
  margin-bottom: 18px;
  ul {
    margin: 0;
  }
  li {
    background-color: #d2d1bb;
    color: #585652;
  }
  li.title {
    background-color: #585652;
    color: #fff;
    font-size: 1.154em;
    font-weight: bold;
    padding: 7px 10px;
  }
  li a {
    color: #585652;
    background-color: unset;
  }
  li a:hover, li a.active {
    background-color: #f47402;
    color: #fff;
  }
}
