#page_nav, .page_nav {
  margin-bottom: 18px;
  ul {
    margin: 0;
    list-style: none;
  }
  li {
    background-color: #d2d1bb;
    color: #585652;
    text-transform: capitalize;
    &.title {
      background-color: #585652;
      color: #fff;
      font-size: 1.154em;
      font-weight: bold;
      padding: 7px 10px;
    }

  }
  .pages-list li a, li a {
    color: #585652;
    background-color: unset;
    &:hover, &.active {
      background-color: #f47402;
      color: #fff;
    }
  }

  // spree static content styles
  .pages-list {
    @extend .nav;
  }

  .pages-list li {
    border-bottom: 2px solid #fff;
  }

  .pages-list li.current a {
    background-color: #f47402;
    color: #fff;
  }

  h4.pages-root {
    @extend li.title;
    margin-bottom: 2px;
    padding: 10px;
  }
  // end spree static content styles

}
