.social_network {
  background: #d9dac5 url($social_background) repeat-x top left;
  padding-top: 40px;
  padding-bottom: 20px;
  overflow: hidden;

  h3.media-heading {
    margin-bottom: 15px;
    font-weight: bold;
  }

  a.btn {
    background-color: #c2c0a4;
    color: #585652;
    text-transform: uppercase;
  }

  a.btn:hover {
    background-color: #f47402;
    color: #fff;
  }

  .social_content, ul {
    border-bottom: 1px solid #C2C0A4;
    height: 240px;
    // overflow-y: scroll;
    overflow: hidden;
    list-style: none;
  }

  .social_content img {
    border: 5px solid #fff;
    box-shadow: 3px 3px 1px #c2c0a4;
    box-shadow: 3px 3px 1px #c2c0a4;
    -webkit-box-shadow: 3px 3px 1px #c2c0a4;
    -moz-box-shadow: 3px 3px 1px #c2c0a4;
  }

  .social_facebook, .social_twitter, .social_insta {
    height: 340px;
    min-height: 340px;
  }

  .social_insta {
    .btn {
      margin-top: 20px;
    }
    .thumbnail {
      padding: 0;
      background-color: transparent;
    }
    a {
      border: 0;
    }
  }

  .list-group li {
    border-bottom: 1px solid #c2c0a4;
    padding-bottom: 12px;
    font-size: 0.846em;
  }

  .social_facebook {
    .list-group li img {
      width: 60px;
      float: left;
      margin-right: 10px;
    }
  }

  .social_twitter {
    .date {
      color: #a4aa97;
      text-transform: uppercase;
      display: block;
    }
  }
}
