      <!-- <div class="row" data-hook=""> -->




        <div id="content" class="col-sm-12" data-hook="">



  <h1>Spree About</h1>
  <div id="page_content">
    <div><p>Our expertise in manufacturing classic designs will enable you to put your indoors outdoors and to be comfortable in the wild, in a field, in the garden, on a campsite or wherever your adventures take you.<br>Our passion for quality together with modern materials and classic designs brings you products that enhance your outdoor life.</p>
<p>We make and sell canvas and cotton blend tents that are kind to your soul. We make them for us, our friends and for you. Join us and experience more.</p>
<h3>At SoulPad we believe that being outdoors should be a luxurious and comfortable experience.</h3>
<p><img src="../../../spree/photos/397/large_no_watermark/dictionary_def.png?1328823758" alt="Dictionary_def"></p>
<div>&nbsp;</div>
<h3>In the beginning...</h3>
<div><img style="float: left; border: 5px solid #DBDAC4; margin: 5px;" src="../../../spree/photos/551/large/mr_om_birth_260px.png?1360761861" alt="Mr Om's birth and the beginning of SoulPad. 1997." width="260px"></div>
<p>This is a photo of '<a href="../../../faqs/who-is-mr-om">Mr OM</a>' being born, summer 1997. We didn't have a plan, we were just having fun in the garden.</p>
<p>Sometimes that's how life needs to be. No plan, just spontaneous fun.</p>
<p>This image is endearing to us because it reminds of why we do what we do.</p>
<p>The people in the photo are our lifelong friends and we still make time to camp together. Back in the day this was because it was inevitable that some of us would have to sleep in the garden&nbsp;when we got together as a large group.</p>
<p>Now we choose to sleep outside just because we can or because that's how we like it. &nbsp;</p>
<p>&nbsp;</p>
<h3>...to the present day</h3>
<div><img style="float: right; margin: 5px; border: 5px solid #dbdac4;" src="../../../spree/photos/790/large/showroom_about_2034.png?1430401235" alt="Showroom_about_2034"></div>
<p>Fans of comfy camping and fed up with nasty nylon tents, Zoe and Mark Vanderstay set up SoulPad in 2006 to supply cool tents to discerning campers. across the UK. Now, with offices in the USA and Australia too, today's SoulPad team is as committed as ever to bringing affordable, high quality products to campers around the globe.</p>
<p>You, like us, probably enjoy watching the sun rise and set, open camp fires, kicking back and chilling out with friends. You understand the need for a luxurious retreat, a haven to escape to after a long days (or nights) play.</p>
<p>You need to massage your soul once in a while, feed your spirit and revitalise in comfortable surroundings. Grass roots style.</p>
<h3>This is the SoulPad way.</h3>
  </div>

        </div>


      </div>
    <!-- </div> -->
