<div id="main_content" class="text-center">
  <div id="error404">
    <div>
      <h3>Uh-oh! Page Not Found.</h3>
      <%#= image_tag "site/mr_om.png" #%>
      <!-- <span><img src="<%=asset_path 'site/mr_om.png' %>">I’m sorry. That page
      doesn’t<br /> seem to exist.</span> -->
      <p>I’m sorry. That page
      doesn’t<br /> seem to exist.</p>
    </div>
  </div>
</div>
