<div id="main_content" class="text-center">
  <div id="error404">
    <div>
      <h3>Uh-oh! Something went wrong.</h3>

      <p>I’m sorry, but something
        <br/> went wrong.</p>
    </div>
  </div>
</div>
