<div id="main_content" class="text-center">
  <div id="error404">
    <div>
      <h3>Uh-oh! Unprocessable Entity.</h3>
      <p>I’m sorry.</p>
      <!-- <h3>The change you wanted was rejected.</h3>
      <p>Maybe you tried to change something you didn't have access to.</p> -->
    </div>
  </div>
</div>
