/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/
#product-variants {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-top: 10px;
  ul.list-group {
    margin-bottom: 0;
    li label {
      font-weight: normal;
    }
  }
}
div.prices, #cart-form {
  background-color: #f5f0e9;
  padding: 10px;
}
div.prices {
  padding-bottom: 0;
}
#product-price {
  padding-top: 10px;
}
.prices {
  font-weight: bold;
  font-size: 1.3em;
}
.price {
  color: #585652;
}
.sale {
  color: #d33;
}
.strike {
  text-decoration: line-through;
  font-weight: normal;
}
h4.product-section-title {
  margin-top: 0px;
}

.product-body {
  div.prices {
    padding: 0 !important;
    font-size: 1.1em;
    font-weight: normal;
    background-color: unset;
  }
}
