a.more {
  text-transform: uppercase;
}
.faq_List {
  border-top: 1px solid #DBDAC4;
  padding-left: 0;

  li {
    border-bottom: 1px solid #DBDAC4;
    padding-top: 12px;
    padding-bottom: 12px;
    list-style: none;
    font-size: 1.25em;
  }
}
