<form action="http://email.soulpad.co.uk/t/j/s/qluikd/" method="post" id="subForm">
  <div style="margin-left:20px;">
    <label for="fieldName">Name</label><br />
    <input id="fieldName" name="cm-name" type="text" /><br/>
    <label for="fieldEmail">Email</label><br />
    <input id="fieldEmail" name="cm-qluikd-qluikd" type="email" /><br />
    <input id="fieldykljnu" name="cm-f-ykljnu" type="hidden" value="signup.com"/>
    <input type="submit" value="Subscribe" />
  </div>
</form>
