<div class="column w220">
  <%= render :partial => "news_menu" %>
</div>

<div class="column w700">

  <h1><%= title_without_site_name %></h1>

  <% if us? %>
  <form action="http://email.soulpad.co.uk/t/j/u/khgyk/" method="post">
    <div>
      <label for="email">Email address:</label><br />
      <input type="Text" id="email" name="cm-khgyk-khgyk" /><br />
      <input type="submit" value="Unsubscribe" />
    </div>
  </form>
  <% else %>
  <form action="http://soulpad.createsend.com/t/j/u/boyk/" method="post">
    <div>
      <label for="email">Email address:</label><br />
      <input type="Text" id="email" name="cm-boyk-boyk" /><br />
      <input type="submit" value="Unsubscribe" />
    </div>
  </form>
  <% end %>

  <%= DynamicDatum.render_by_tag "unsubscribe" %>

</div>
