<h2>Oops!</h2>
<p>The transaction was declined. Please try again, or call us on 0800 389 9193.</p>
<p><%= link_to "Click here to return to the checkout", spree.checkout_url %> for another attempt.</p>
