/* #spree-header {background-color: green !important;} */
#spree-header #header {
  background: #fff !important;
  padding: 20px 0;
}
/* *,html,container {}
body {
  background: #f5f0e9 url(/assets/site/body_background-2caf7775c1a898c3f6ea3f0f73efc95c.png);
  color: #585652;
  color:red !important;
  font: 81.3%/1.5 'Droid serif', Georgia, Times, 'Times New Roman', serif;
}

#spree-header #header {
  background-color: #fff;
  padding: 20px 0;
}

#logo img {
  width: 100%;
}

.container {
  background-color: #fff;
  border-top: 10px solid #585652;
  margin: 30px auto 30px auto;
  width: 960px;
  box-shadow: 0 0 5px #909090;
  -webkit-box-shadow: 0 0 5px #909090;
  -moz-box-shadow: 0 0 5px #909090;
} */
