// Place all the styles related to the Errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#error404 {
  background: url('/assets/site/mr_om.png') no-repeat top left;
  height: 336px;
}
#error404 div {
  margin-left: 310px;
  padding-top: 32px;
  width: 240px;
  h3 {
    font-size: 1.7em;
    margin-bottom: 10px;
  }
  p { font-size: 1.2em; }

}
