@media screen and (min-width:320px) and (max-width:767px){
#bar {
    height: 70px;
}
#user_bar {
    left: 300px;
    margin:15px 0 0 0;
}
#bar #user_bar li a {
    font-size:25px;
    padding: 10px 20px;
}
#bar #sites {
    right:330px;
    margin:11px 0 0 0;
    background-size: 17px;
    background-position: 166px 20px;
} 
#bar #sites li {
    font-size:30px;
    background-position: 8px 17px;
}
#bar #sites li#uk {
    height:42px;
    width:150px;
}
#bar input[type="search"] {
    margin:13px 1px 0 0;
    padding: 8px 15px 8px 20px;
    width:175px;
}
#bar input {
    margin:14px 0 0 0;
    padding: 8px 15px;
}
#header #logo{
       width:100%;
 }
#header #logo img{
       width:400px;
 }
#header .contact {
    font-size:30px;
    left:520px;
    top:80px;
}
#header .delivery {
    top:90px;
    right: 67px;
}
#header .delivery img{
      display:none;
}
#header h1, #header h2 {
    height:100px;
    margin-top:60px;
    background:none;
}
#bar input {
    font-size: 25px;
}
.base_index #about {
  width:100%;
  padding:0;
  margin:0;
  height:auto;
}
#about h2{
    font-size:45px;
}
#about p{
    font-size:12px;
}
.base_index #video, #video-title{
    width:100%;
    font-size:35px;
}
.base_index #testimonials {
    width: 80%;
    margin-left: 10%;
    margin-top: 24px;
    background:none;
}
.base_index #testimonials blockquote {
    height:auto;
}
.base_index #video span {
    padding:25px 10px;
    font-size:35px;
    background-size: 139px;
}
.base_index #products {
    width:100%;
}
.base_index #news .more, .base_index #products .more {
    font-size: 32px;
}
.base_index #products ul li{
    width:48%;
    padding:4px;
}
.base_index #products ul li img{
    width:100%;
}
.base_index #products span {
    font-size:35px;
}
.base_index #products h3 {
    padding:15px 0;
}
.base_index #news {
    width:100%;
}
.base_index #news h3{
    padding:15px 0;
}
#social_network div {
    width:80%;
    margin-left:10% !important;
    height:auto;
    margin:75px 0 0 0;
}
#social_network h3 {
    font-size:65px;
}
#social_network ul {
    height:auto;
}
#social_network li {
    font-size:35px;
}
#social_network a.button {
    font-size:25px;
    bottom:10px;
}
#social_network li img {
    width:230px;
}
#footer ul.pages {
    font-size:32px;
}
#footer {
    height:450px;
}
#footer p {
    font-size:30px;
}
#footer .contact {
    top:270px;
    left:0;
}
.tel{
    font-size:30px;
}
.email{
    font-size:30px;
}
.adr{
    font-size:22px;
}
.w220 {
    width: 100%;
}
#page_nav li.title {
    text-align:center;
    font-size:38px;
}
#page_nav {
    width:100%;
}
 #page_nav li a.active {
     text-align:center;
    font-size:35px;        
}
#page_nav li a {
    text-align:center;
    font-size:35px;        
}
.w700 {
    width: 100% !important;
}
.w700 h1{
    text-align:center;
}
.w700 p{
    text-align:justify;
}
.w700 p img{
    height:600px;
    width:100%;
}
#product_nav {
    width:100%;
}
#product_nav li.title {
    font-size:38px;
    text-align:center;
}
#product_nav li{
    font-size: 35px;
    text-align: center;
}
#product_banner_shop {
    width:100%;
    height:650px;
}
#product_banner_shop  ul{
    width:100%;
    height:650px;
}
#product_banner_shop li img{
    width:100% !important;
    height:650px;
}
#product_banner_shop li{
    width:100% !important;
}
#product_banner_shop .product_info {
    bottom:-100px;
    width:450px;
}
#product_banner_shop .product_info h2{
    font-size:38px;
}
#product_banner_shop .product_info p{
    font-size:34px;
}
#product_banner_shop .product_info .price {
    font-size:35px;
}
.more{
     font-size:35px;
}
#product_banner_shop_left {
    width:100%;
    height:900px;
}
#product_banner_shop_left li{
    width:100%;
}
#product_banner_shop_left li img{
     width:100%;
}
#product_banner_shop_right {
    width:100%;
    height:900px;
}
#product_banner_shop_right li{
    width:100%;
}
#product_banner_shop_right li img{
     width:100%;
}
.product_info h2{
    font-size:35px !important;
}
.product_info a{
    font-size:30px !important;
}
.product_info p{
    font-size:34px !important;
}
.product_info {
    bottom:-200px !important;
    width:400px !important;
}  
#main_content h1{
    font-size:50px;
    text-align:center;
}
.gallery_list li {
    width: 60%;
    margin-left: 20%;
}
.gallery_list img {
    width: 100% !important;
} 
#main_content h4{
    font-size:40px;
}
.gallery_list p{
    font-size:38px;
}
#main_content h3{
    font-size:30px;
}
#subForm lable{
    font-size:45px;
}
#video img{
    width:100%;
}
#social_facebook{
    height:950px !important;
    overflow:hidden;
}
#social_twitter{
    height:1045px !important;
    overflow:hidden;
}
.strong {
    font-weight: bold;
    font-size: 30px;
}
table td, table th {
    font-size: 26px;
} 
.base_contact #main_content .vcard span {
    font-size: 20px;
}
.w380 {
    width: 100%;
}
.w540 {
    width: 100%;
}
.contact_form label {
    width: 50%;
    font-size: 35px;
}
.contact_form input[type="text"] {
    font-size: 35px;
}
.contact_form input[type="email"] {
   font-size: 35px;
}
.contact_form input[type="submit"] {
    margin-left: 270px;
    font-size:40px;
}
.product_listing li {
    width:47%;
}
.product_listing .price {
    font-size:35px;
}
.w700 p{
    font-size: 20px;
}
#header #nav li {
    width:100%;
    font-size:35px;
    
}
#social_network {
        background-size: 1% 100%;
}
#existing-customer h6{
    font-size:35px;
    text-align:center;
}
}