<div id="product_banner">
  <% if features.try(:empty?) %>
    <%= image_tag 'site/feature_holder.jpg', class: 'img-responsive', alt: '' %>
  <% else %>
  <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
    <% if features.count > 1 %>
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <% no = 0 %>
        <% features.try(:each) do |feature| %>
          <li data-target="#carousel-example-generic" data-slide-to="<%=no%>" class="<%= no == 0 ? 'active' : ''%>"></li>
          <% no += 1 %>
        <% end %>
    </ol>
    <% end %>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% img_class = '' if !img_class %>
      <% features.try(:each) do |feature| %>
        <%= render partial: 'features_engine/feature', locals: {img_class: img_class, features: features, feature: feature} %>
      <% end %>
    </div>

    <% if features.count > 1 %>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <% end %>
  </div>
  <% end %>
</div>
